:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f7f5f3;
  --text-primary: #0a0a0a;
  --text-secondary: #636261;
  --hover-primary: #eae8e7;
  --hover-secondary: #f6f5f4;
  --whatsapp-green:#d9fdd3;
  --whatsapp-clr-green:#103529;
  --sent-bg :#d9fdd3;
  --receive-bg :#ffffff;
  --chat-bg :#f5f1eb;
  --search-bg: #f7f5f3;
  --whatsapp-logo-green: #1daa61;
  --border-primary:#d1d7db;
}

.dark-theme {
  --bg-primary: #161717;
  --bg-secondary: #1d1f1f;
  --text-primary: #fafafa;
  --text-secondary: #a5a5a5;
  --hover-primary: #292a2a;
  --hover-secondary: #2e2f2f;
  --whatsapp-green:#103529;
  --whatsapp-clr-green:#d9fdd3;
  --sent-bg :#144d37;
  --receive-bg :#242626;
  --chat-bg :#161717;
  --search-bg: #2e2f2f;
  --whatsapp-logo-green: #ffffff;
  --border-primary:#3a3b3b;
}

$nav-width: 65px;
$sidebar-width: 30%;
$whatsapp-green: #1daa61;
$whatsapp-light-green: #d9fdd3;
$whatsapp-dark-green: #15603e;
$danger-red: #b80531;
$danger-hover-bg: #ffdee7;
$scrollbar-thumb-color: rgb(199, 196, 196);