:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f7f5f3;
  --text-primary: #0a0a0a;
  --text-secondary: #636261;
  --hover-primary: #eae8e7;
  --hover-secondary: #f6f5f4;
}

.dark-theme {
  --bg-primary: #161717;
  --bg-secondary: #1d1f1f;
  --text-primary: #fafafa;
  --text-secondary: #a5a5a5;
  --hover-primary: #292a2a;
  --hover-secondary: #2e2f2f;
}

$nav-width: 65px;
$sidebar-width: 30%;
$whatsapp-green: #1daa61;
$whatsapp-light-green: #d9fdd3;
$whatsapp-dark-green: #15603e;
$danger-red: #b80531;
$danger-hover-bg: #ffdee7;
$scrollbar-thumb-color: rgb(199, 196, 196);