@import 'variables';
@import 'mixins';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto Variable, Roboto, Helvetica Neue, Helvetica, sans-serif;
}

svg {
  width: 24px;
  height: 24px;
  fill: var(--text-secondary);
}

.chat-row-list, .message-feed, .info-scroll-body {
  @include custom-scrollbar;
}

.appContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.navContainer {
  width: $nav-width;
  height: 100vh;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-right: 1px solid #d1d7db;
}

.nav-item {
  width: 40px;
  height: 40px;
  @include flex-center;
  border-radius: 50%;
  margin-bottom: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
  position: relative;

  &:hover, &.active {
    background-color: var(--hover-primary);
  }

  &.active svg {
    fill: var(--text-primary);
  }
}